# Build results
bin/
obj/
out/
[Bb]uild/
[Ll]og/
 
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Rider
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
.nuget/

# Dotnet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET temporary files
**/wwwroot/lib/
**/node_modules/

# Others
*.log
*.tmp
*.bak
*.swp

# Test results
TestResults/
*.coverage
*.coveragexml
*.testsettings
*.vsmdi
